.banner{
    margin: 0 auto;
max-width: $site-width;
min-height: 200px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(../images/tours-header.jpg);


h1{

    color: $site-white;
}

}