footer {
margin: 0 auto;
width: 1280px;
height: 80px;
background-color: $site-blue;
align-items:center;
display:flex ;
justify-content: space-between;


.logo{ 
    width: 92px;
    height: 42px;
    
    h3{
        color: $site-white;
    }

}

p{
    color: $site-white;

}

}